* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    background: rgb(0, 0, 0);
    color: #FFFFFF;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 50px;
}

.basic-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 30px;
}

.details input {
    background: #333333;
    color: #AAAAAA;
    padding: 10px 150px 10px 15px;
    border: none;
    border-radius: 10px;

}

.details button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99181A;
    color: #FFFFFF;
    padding: 10px 80px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.details button:hover {
    border: 2px solid #FFFFFF;
}

@media(max-width: 800px) {
    .details {
        height: 50%;
        width: 60vw;
        gap: 20px;
    }

    .details input {
          padding: 3% 7%;
        width: 40vw;

    }

    .invitation {
        font-size: 80%;
    }

    .details button {
        width: 25vw;
        padding: 3% 3%;
    }

}

@media(max-width: 600px) {

    .details {
        width: 70vw;
        height: 40%;
        gap: 15px;
    }
    .invitation {
        font-size: 65%;
    }


}

@media(max-width: 460px) {

    .details {
        height: 40%;

    }

     .details input {
          padding: 3% 7%;
        width: 50vw;

    }
    .invitation {
        font-size: 50%;
    }

     .details button {
        font-size: 10px;
    }

}

@media(max-width: 350px) {

    .details {
        width: 80vw;
        height: 40%;
        gap: 15px;
    }
    .invitation {
        font-size: 50%;
    }


}