*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    background: rgb(0,0,0);
    color: #FFFFFF;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 50px;
}

.name{
    font-size: 40px;
}

.first-half{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
}

.option button{
    background: #99181A;
    color: #FFFFFF;
    margin: 0px 20px;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.bookings{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    margin: 10px 50px;
}

.circle{
    width: 100px;
    height: 100px;
    font-size: 35px;
    background: #FFFFFF;
    color: #000000; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

hr{
    background: #99181A;
    width: 400px;
    height: 2px;
    border: none;
}

.save{
    display: flex;
    justify-content: center;
    align-items: center;
}

.save button{
    background: #99181A;
    color: #FFFFFF;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

@media(max-width:1000px){
    .profile{
    height: 55%;
    width: 50%;
    }

    hr{
    width: 100%;
    height: 2px;
}

}

@media(max-width:600px){
.profile{
    height: 65%;
    width: 50%;
    }

   .option, .bookings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .option button{
     margin: 5px 0;
   }

     hr{
    width: 100%;
    height: 2px;
}

}