* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    position: absolute;
    z-index: 1;
}

.box {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    width: 800px;
    height: 500px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 70px;
}

button {
    width: 150px;
    height: 50px;
    background: rgb(153, 24, 26);
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 15px;
    border: none;
    cursor: pointer;

}

@media(max-width: 1000px) {

           .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
         text-align: center;

    }

    .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 500px;


}

}


@media(max-width: 850px) {

       .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
         text-align: center;

    }

      .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60%;


}
}

@media(max-width: 700px) {

   
           .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
         text-align: center;

    }

    .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 60%;


}
}

@media(max-width: 600px) {

     .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 70%;


}
}


@media(max-width: 550px) {

     .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;


}
}

@media(max-width: 500px) {

     .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;


}
}

